<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>KnowMD</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism.min.css">
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-2">{sidebar}</div>
    <div class="offset-1 col-6">{document}</div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/prism.min.js"></script>
</div>
</body>
</html>
